<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flash.yuvar.flashattendancesystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/flash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLogin"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Admin.StudentSide.Admin_student_details"></activity>
        <activity android:name=".Admin.StudentSide.AdminRegisterStudent" />
        <activity android:name=".Admin.StudentSide.Admin_add_course" />
        <activity android:name=".Admin.StudentSide.CourseList" />
        <activity android:name=".OTP.PhoneNoAuth" />
        <activity android:name=".Admin.StudentSide.Admin_student_add" />
        <activity android:name=".Admin.ClassSide.Admin_Student_List" />
        <activity android:name=".Admin.ClassSide.Admin_Class_Detail" />
        <activity android:name=".Student.Student_Class_listAttendees_Activity" />
        <activity android:name=".Student.Student_registered_student_View" />
        <activity android:name=".Student.Student_attendance_View" />
        <activity android:name=".Student.Student_Class_Detail" />
        <activity
            android:name=".Student.Student_Class_List"
            android:label="@string/title_activity_student__class__list"
            android:theme="@style/AppThemeLogin.NoActionBar" />
        <activity android:name=".StudentMainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LectureMainActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".Admin.ClassSide.admin_add_class" />
        <activity android:name=".Admin.ClassSide.Admin_view_class" />
        <activity android:name=".Student.Student_join_class" />
        <activity android:name=".Lecture.Lecture_request_acceptance" />
        <activity android:name=".QRCode.QRCode_Generate_Activity" />
        <activity
            android:name=".QRCode.Class_List_Carry_Activity"
            android:label="Class List" />
        <activity android:name=".QRCode.ScanCode_Activity" />
        <activity android:name=".Lecture.Lecture_Class_listcarry_Activity" />
        <activity android:name=".Lecture.Lecture_class_listDate_Activity" />
        <activity android:name=".Lecture.Lecture_Class_listAttendees_Activity" />
        <activity android:name=".QRCode.QRCode_Detail_Activity" />
        <activity android:name=".QRCode.QRCode_Bigger_Activity" />
        <activity android:name=".QRCode.QR_Code_End_Activity" />
        <activity android:name=".Lecture.Lecture_Class_Detail" />
        <activity android:name=".Lecture.Lecture_Student_List" />
        <activity android:name=".Lecture.Lecture_add_reason" />
    </application>

</manifest>